*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* Article List */
img {
  display: block;
  width: 300px;
  height: 210px;
}
.stats {
  display: flex;
  align-items: center;
}
.stats-item {
  margin-left: 10px;
  align-items: center;
  display: flex;
  color: lightslategray;
}

.gallery {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.photo-card {
  margin-left: 10px;
  margin-bottom: 20px;
}

.is-hidden {
  display: none;
}
.main-slogan {
  color: darkcyan;
  text-align: center;
}
.btn {
  background-color: ghostwhite;
  border: grey;
}
.material-icons {
  margin: 0 3px 0 0;
}
